body,
html {
    height: 100%;
    width: 100%;
    margin: 0%;
}

.header {
    width: 100%;
    height: 100%;
    background-color: #c989f5;
    position: relative;

}

.logo {
    width: 50px;
    height: 50px;
    background-color: aqua;
    left: 10px;
    top: 10px;
    position: relative;

}

.menu {
    width: 20px;
    height: 20px;
    background-color: azure;
    top: 10px;
    right: 10px;
    position: absolute;

}

.title-cont {
    width: 25%;
    height: 300px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

.test {
    padding: 25px;
}

.about-cont {
    width: 100%;
    background-color: #24bbe9;
    overflow: auto;
}

.tech {
    float: right;
    width: 75%;
    background-color: white;
}

.text {
    float: left;
}

.we {
    width: 80%;
    overflow: auto;
    margin: auto;

}

.market {
    width: 50%;
    float: left;
    margin: 40px;
}

.logosu {
    width: 30%;
    float: left;
    margin: 35px;
}

.our {
    width: 80%;
    margin: auto;
    overflow: auto;
}

.philo {
    width: 30%;
    float: left;
    text-align: center;
}

.goal {
    width: 80%;
    margin: auto;
    overflow: auto;
}

.watch {
    float: left;
}

.perfection {
    float: left;
    width: 40%;
    padding: 50px 0px;

}

.up {
    width: 5%;
    height: 30px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: black;
}

.process-cont {
    width: 100%;
    background-color: orchid;
    overflow: auto;
}

.text1 {
    float: right;
}

.how {

    float: left;
    width: 75%;
    background-color: white;
}

.lap-cont {
    width: 100%;
    overflow: auto;
}

.laptop {

    float: left;

}

.content {
    width: 40%;
    float: left;
    padding: 60px 0px;
}

.event {
    width: 80%;
    overflow: auto;
    margin: auto;
}

.dis {
    width: 50%;
    float: left;
    padding: 60px 0px;
}

.ana {
    float: right;
}
.ser-cont
{
    width: 100%;
    background-color: #fd7924;
    overflow: auto;
}
.service
{
    width: 25%;
    float: left;

}
.sit
{
    width: 75%;
    float: left;
    background-color: white;
}
.amet
{
    width: 65%;
    margin: auto;
}
.galary
{
    width: 65%;
    margin: auto;
    overflow: auto;
}
.con
{
    width: 25%;
    float: left;
    margin: 25px;

}
.graphics
{
    width: 40%;
    height: 50px;
    margin: auto;
    background-color: khaki;
}
*
{
    box-sizing: border-box;
}

